# 無視するファイル
*.pyc
settings/json
*.sh
*.out
*.err
test/poiseuille_direct/**
test/sin_1D_naive_noise/**
test/sinusoidal_direct/**
test/sin_1D_direct/**
test/gaussian3D/**
test/drag3D/**
test/outputs/**

# 無視しないファイル
